/* Start Header */
.consulting-info-header {
  height: 90vh;
  padding-top: 195px;
  background-image: url("../assets/home-page/header-bg.png");
  background-size: cover;
  background-position: center 130px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .consulting-info-header {
    height: auto;
  }
}
.consulting-info-header .row {
  align-items: center;
}
.consulting-info-header .header-r h1 {
  margin: auto;
  width: max-content;
  padding: 15px 50px;
}

@media (max-width: 991px) {
  .consulting-info-header .header-r {
    margin-bottom: 30px;
  }
}

@media (max-width: 600px) {
  .consulting-info-header .header-r h1 {
    padding: 15px 100px;
  }
}
.consulting-info-header .header-r p {
  max-width: 620px;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  margin: 40px auto;
  line-height: 2;
  color: #3c414b;
}
@media (max-width: 500px) {
  .consulting-info-header .header-r p {
    font-size: 16px;
  }
}

.consulting-info-header .container .col-lg-4 {
  margin-top: -100px;
}
.consulting-info-header .header-l {
  width: 300px;
  margin: auto;
}
@media (max-width: 991px) {
  .consulting-info-header .header-l {
    left: 0;
    bottom: 0;
    margin: 40px auto 0;
  }
  .consulting-info-header .container .col-lg-4 {
    margin-top: 0;
    margin-bottom: 20px;
  }
}
/* End Header */

/* Start Consulting info Content  */
.cons-content {
  padding: 30px 0 50px;
  background-color: #FCFCFC;
 display: grid;
 grid-template-columns: 1fr 4fr;
 gap: 30px;
}
.cons-content aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 30px 70px;
  width: 250px;
  height: 400px;
  box-shadow: 0px 1px 1px #47474729;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.cons-content aside h3 {
  font-size: 20px;
  color: #707070;
  font-weight: normal;
  position: relative;
  cursor: pointer;
  transition: var(--mainTransitionTim);
  -webkit-transition: var(--mainTransitionTim);
  -moz-transition: var(--mainTransitionTim);
  -ms-transition: var(--mainTransitionTim);
  -o-transition: var(--mainTransitionTim);
}
.cons-content aside h3:hover {
  color: #29ABE2;
}
.cons-content aside h3::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #707070;
  right: -30px;
  top: 6px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  z-index: 2;
  transition: var(--mainTransitionTim);
  -webkit-transition: var(--mainTransitionTim);
  -moz-transition: var(--mainTransitionTim);
  -ms-transition: var(--mainTransitionTim);
  -o-transition: var(--mainTransitionTim);
}
.cons-content aside h3:not(:last-of-type):after {
   content: "";
  position: absolute;
  height: 153px;
  width: 1px;
  top: 6px;
  background-color: #707070;
  right: -23px;
  z-index: 1;
  transition: var(--mainTransitionTim);
  -webkit-transition: var(--mainTransitionTim);
  -moz-transition: var(--mainTransitionTim);
  -ms-transition: var(--mainTransitionTim);
  -o-transition: var(--mainTransitionTim);
}
.cons-content aside h3.active {
  color: #29ABE2;
}
.cons-content aside h3.active::before {
  background-color: #29ABE2;
}

.cons-content aside h3.active.b::after {
  background-color: #29ABE2;
}

.cons-content .left {
  max-height: 600px;
  overflow-y: scroll;
      cursor: all-scroll;
  position: relative;
  background-color: #fff;
  padding-bottom: 50px;
  margin-left: 100px;
  box-shadow: 0px 1px 1px #47474729;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  scroll-behavior: smooth;
 
}
.cons-content .left .icon {
  width: 60px;
  height: 60px;
  right: 50px;
  position: absolute;
  top: 0;
}
.cons-content .content {
  width: 950px;
  margin: auto;
}
.cons-content .left .section-title {
  margin:  30px 0;
  padding-top: 0;
 font-size: 2.7vh;
  
}
.cons-content .left .desc {
  margin: 0 50px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 5px #4DC7ED;
border-radius: 25px;
}
.cons-content .left .desc p {
  font-size: 14px;
  line-height: 2;
  margin-bottom: 10px;
}
.cons-content .left .desc p:last-of-type {
  margin-bottom: 0;
}

.cons-content .left-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  
}
.cons-content .left-boxes .box {
  padding: 15px ;
  width: 400px;
 
}
.cons-content .left-boxes .box.one {
  box-shadow: 0px -2px 5px #4DC7ED;
  border-radius: 0 25px 0 0;
  background-color: #fff;
  -webkit-border-radius: 0 25px 0 0;
  -moz-border-radius: 0 25px 0 0;
  -ms-border-radius: 0 25px 0 0;
  -o-border-radius: 0 25px 0 0;
}
.cons-content .left-boxes .box.tow {
  box-shadow: -2px 0px 5px #4DC7ED;
  border-radius: 25px 0 0 0;
  background-color: #fff;
  -webkit-border-radius: 25px 0 0 0;
  -moz-border-radius: 25px 0 0 0;
  -ms-border-radius: 25px 0 0 0;
  -o-border-radius: 25px 0 0 0;
}
.cons-content .left-boxes .box.three {
  box-shadow: 2px 0px 5px #4DC7ED;
  border-radius: 0 0 25px 0;
  background-color: #fff;
  -webkit-border-radius: 0 0 25px 0;
  -moz-border-radius: 0 0 25px 0;
  -ms-border-radius: 0 0 25px 0;
  -o-border-radius: 0 0 25px 0;
}
.cons-content .left-boxes .box.four {
  box-shadow: 0px 2px 5px #4DC7ED;
  border-radius: 0 0 0 25px;
  background-color: #fff;
  -webkit-border-radius: 0 0 0 25px;
  -moz-border-radius: 0 0 0 25px;
  -ms-border-radius: 0 0 0 25px;
  -o-border-radius: 0 0 0 25px;
}
.cons-content .left-boxes .box .up {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}
.cons-content .left-boxes .box .up .section-boxes-title{
  font-size: 16px;
}
.cons-content .left-boxes .box .up .up-img{
  width: 35px;
  height: 35px;
}
.cons-content .left-boxes .box p.desc-gray {
  color: #3C414B;
  margin: 10px 0;
   line-height: 2;
     font-size: 14px;
}
.cons-content .left-boxes .box p.box-desc {
  font-size: 14px;
  line-height: 2;
  text-align: center;
}
.cons-content .left-boxes.three .box p.box-desc {
  text-align: right;
  font-weight: bold;
  line-height: 2;
    font-size: 14px;
}
.move-to-qemma {
  
  text-align: center;
    max-width: 800px;
    margin: 30px auto;
}
.cons-content .left .move-to-qemma .section-title {
  margin: 30px 0 0 0;
}
.move-to-qemma p:first-of-type {
margin: 10px 0;
font-weight: bold;
font-size: 14px;
}
.move-to-qemma p {
  color: #3C414B;
  font-size: 14px;
}
.content-3 .left-boxes .box.one {
  background-color: #F9FFFF ;
}
.content-3 .left-boxes .box.tow {
  background-color: #FBFBFF ;
}
.content-3 .left-boxes .box.three {
  background-color: #FFFCFD ;
}
.content-3 .left-boxes .box.four {
  background-color: #FFFEE9 ;
}
/* End Consulting info Content  */

/* Start Contact Now */
.contact-now-cons {
  background-color: #FCFCFC;
  padding-bottom: 50px;
}
.contact-now-cons a {
      position: relative;
    width: 300px;
    height: 60px;
    margin: 0  auto ;
    text-decoration: none;
    background-color: #0071bc;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 6px;
    font-size: 18px;
    transition: var(--mainTransitionTim);
    -webkit-transition: var(--mainTransitionTim);
    -moz-transition: var(--mainTransitionTim);
    -ms-transition: var(--mainTransitionTim);
    -o-transition: var(--mainTransitionTim);
}
.contact-now-cons a:hover {
  background-color:#29ABE2 ;
}
.contact-now-cons a img {
  width: 18px;
  margin-right: 10px;
}
/* End Contact Now */
