/* Start Contact Us  */
.contact-us-pge {
  margin: 160px auto 25px;
  max-width: 900px;
}
@media(max-width:991px) {
  .contact-us-pge {
    margin-top: 160px  ;
  }
}
.contact-us-pge .section-title {
  text-align: right;
  font-size: 2vh;
}
@media(max-width:600px) {
  .contact-us-pge .section-title {
    max-width: 100%;
  }
}
.contact-us-pge p {
  color: #2E2E2E;
  font-size: 14px;
  line-height: 1.7;
}
.contact-us-pge form {

  margin-top: 35px;
}
.contact-us-pge form input,
.contact-us-pge form textarea {
  font-size: 14px;
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #FCFCFC ;
  border: 1px solid #98A3BA78;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.contact-us-pge form input:focus,
.contact-us-pge form textarea:focus {
  outline-color: #03C3FF;
}

.contact-us-pge form textarea  {
  min-height: 100px;
}
.contact-us-pge form button[type= "submit"] {
  position: relative;
  background-color: #0071BC;
  color: #fff;
  
  padding: 15px;
      display: flex;
    align-items: center;
    justify-content: end;
  min-width: 300px;
  min-height: 56px;
  margin-right: auto;
  font-size: 16px;
  border: 1px solid #0071BC;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: var(--mainTransitionTim);
  -webkit-transition: var(--mainTransitionTim);
  -moz-transition: var(--mainTransitionTim);
  -ms-transition: var(--mainTransitionTim);
  -o-transition: var(--mainTransitionTim);
}
@media(max-width:991px) {
  .contact-us-pge form button[type= "submit"] {
    margin: auto;
  }
}
.contact-us-pge form button[type= "submit"] .img {
  display: block;
  width: 25px;
  height: 20px;
  margin-left: 85px;
  background-image: url("../assets/contact-us-page/subscrib-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
}

.contact-us-pge form button[type= "submit"]::before {
    position: absolute;
    content: "ارسال ";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-us-pge form button[type= "submit"]:hover {
  background-color: #29ABE2;
  border-color: #29ABE2;
}
.contact-us-pge form button[type= "submit"]:hover .img {
  background-image: url("../assets/contact-us-page/arrow-left.svg");
  background-size: 20px;
  
}
.contact-us-pge form button[type= "submit"]:focus {
  background-color: #4AC959;
  border-color: #4AC959;
}
.contact-us-pge form button[type= "submit"]:focus::before {
  content: "نجاح الارسال";
}
.contact-us-pge form button[type= "submit"]:focus .img{
 background-image: url("../assets/contact-us-page/success.svg");
 margin-left: 60px;
 background-size: 30px;
}
.form-phone {
  position: relative;
  
}
.custom-select {
  position: absolute;
 
  width: 100px;
  height: 37px;
  left: 8px;
  top: 8px;
  background-color: #EFEFEF;
  padding-right: 10px;
  display: flex;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.custom-select::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color:#98A3BA78;
  right: -20px;
}
.select-box {
  padding-left: 5px;
  cursor: pointer;
  font-size: 14px;
  direction: ltr;
  border: none;
  width: 100%;
  color: #707070;
  background-color: #EFEFEF;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  
}
.select-box:focus {
  outline: none;
}

/* End Contact Us  */

