/** @format */

@import "./colors.css";
/* Start Header */
.home-page-header {
  padding-top: 170px;
  background-image: url("../assets/home-page/header-bg.svg");
  background-size: cover;
  background-position: center 130px;
  background-repeat: no-repeat;
}

.home-page-header .header-text {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  align-items: center;
  justify-content: center;
}
@media (max-width: 600px) {
  .home-page-header .header-text {
    display: block;
    min-height: auto;
    text-align: center;
  }
}
.home-page-header .header-text .mediume {
  display: none;
}
@media (max-width: 600px) {
  .home-page-header .header-text .mobile {
    display: block;
  }
  .home-page-header .header-text .mobile h1 {
    border-bottom: 8px solid rgb(38 58 150 / 58%);
    position: relative;
    z-index: 1;
    width: max-content;
    margin: auto;
  }
  .home-page-header .header-text .mobile h2 {
    border-top: 0;
    position: relative;
    z-index: 0;
    padding: 15px 40px;
    width: max-content;
    margin: -8px auto auto auto;
  }
  .home-page-header .header-text .mobile h3 {
    border-top: 8px solid rgb(38 58 150 / 58%);
    width: max-content;
    margin: auto;
    position: relative;
    z-index: 1;
    margin-top: -8px;
    padding: 15px 40px;
  }

  .home-page-header .header-text .large {
    display: none;
  }
}
.home-page-header .header-text .mediume .page-title-up,
.home-page-header .header-text .mediume .page-title-down {
  width: 550px;
  padding: 20px;
  text-align: center;
}

.home-page-header .header-text .mobile .page-title-up,
.home-page-header .header-text .mobile .page-title-down {
  text-align: center;
  width: auto;
  margin: auto;
}

.home-page-header .header-text p {
  font-weight: bold;
  max-width: 640px;
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  line-height: 2;
  color: var(--textSecundColor);
}

@media (max-width: 600px) {
  .home-page-header .header-text p {
    max-width: 440px;
    margin: 20px auto;

    line-height: 2;
  }
}

@media (max-width: 991px) {
  .home-page-header .header-text p {
    width: auto;
    font-size: 14px;
  }
}

/* End Header */

/* Start Our Services */
.our-services {
  overflow-x: hidden;
  background-color: var(--unnamed-color-d9f2f2);
}
.our-services .section-title-with-line h2 {
  margin-bottom: 15px;
}

/* End Our Services */

/* Start Software Development */
.software-development {
  background-image: url("../assets/home-page/software-development-section/software-development.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top left;
}

@media (max-width: 767px) {
  .software-development {
    /* background-size: 7% 50%; */
  }
}
@media (max-width: 600px) {
  .software-development {
    /* background-size: 10% 50%; */
    padding-left: 40px;
    padding-right: 40px;
  }
}

.software-development .soft-dev-boxes {
  padding: 10px;
}
@media (max-width: 991px) {
  .software-development .soft-dev-boxes {
    margin-bottom: 20px;
  }
}

.soft-dev-boxes .title-icon {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.soft-dev-boxes .title-icon h6 {
  font-weight: bold;
  font-size: 16px;
  color: var(--unnamed-color-234192);
}
.soft-dev-boxes .title-icon img {
  width: 42px;
}
.soft-dev-boxes .soft-dev-desc {
  font-size: 15px;
  color: var(--textSecundColor);
  line-height: 1.7;
}
@media (max-width: 991px) {
  .soft-dev-img {
    margin: auto;
    margin-bottom: 20px;
  }
}
.soft-dev-img {
  margin: auto;
  width: 250px;
}
/* End Software Development */

/* Start How We Work  */
.how-we-work {
  background-color: var(--unnamed-color-d9f2f2);
}
@media (max-width: 600px) {
  .how-we-work {
    padding-left: 40px;
    padding-right: 40px;
    padding: 50px !important;
  }
}
.how-we-work .row {
  align-items: center;
}
@media (max-width: 991px) {
  .how-we-work .row:nth-child(3) > div:nth-child(1),
  .how-we-work .row:nth-child(5) > div:nth-child(1) {
    order: 2;
  }
}
.how-we-work .row > div {
  padding: 20px;
}
@media (max-width: 991px) {
  .how-we-work .row > div {
    margin-bottom: 20px;
  }
}

.how-work-desc h6 {
  font-weight: bold;
  font-size: 16px;
  color: var(--unnamed-color-273587);
  margin-bottom: 20px;
}
.how-work-desc p {
  color: var(--textSecundColor);
  line-height: 1.7;
}

.how-work-img {
  margin: auto;
  overflow: hidden;
  width: 250px;
}
.how-work-img img {
  max-width: 100%;
}

@media (max-width: 991px) {
  .how-work-img {
    text-align: center;
  }
}
/* End How We Work  */

/* Start Our Work */
.our-work .container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.carousel-control-next,
.carousel-control-prev {
  background-color: rgb(0 0 0 / 29%);
  width: 60px;
  height: 50px;
  color: #fff;
  top: 50%;
  transition: var(--mainTransitionTim);
  -webkit-transition: var(--mainTransitionTim);
  -moz-transition: var(--mainTransitionTim);
  -ms-transition: var(--mainTransitionTim);
  -o-transition: var(--mainTransitionTim);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.carousel-control-next {
  right: 12px;
}
.carousel-control-prev {
  left: 12px;
}

.carousel-indicators {
  bottom: -85px;
}
.carousel-indicators [data-bs-target] {
  display: inline-block;
  margin: 1em;
  width: 1em;
  height: 1em;
  margin: 0.1em;
  background: var(--unnamed-color-29abe2);
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.our-work .row .col-lg-4,
.our-work .row .col-lg-8 {
  padding: 0;
  height: 700px;
}
@media (max-width: 991px) {
  .our-work .row .col-lg-8 {
    order: 1;
    height: 475px;
  }
  .our-work .row .col-lg-4 {
    order: 2;
    height: 300px;
  }
}
@media (max-width: 767px) {
  .our-work .row .col-lg-8 {
    height: 380px;
  }
  .our-work .row .col-lg-4 {
    height: 315px;
  }
}
@media (max-width: 500px) {
  .our-work .row .col-lg-8 {
    height: 280px;
  }
  .our-work .row .col-lg-4 {
    height: 290px;
  }
}
.our-work-desc {
  height: 100%;
  padding: 30px 100px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: var(--unnamed-color-29abe2);
}
@media (max-width: 991px) {
  .our-work-desc {
    padding: 70px;
  }
}
@media (max-width: 767px) {
  .our-work-desc {
    padding: 20px;
  }
}
@media (max-width: 500px) {
  .our-work-desc {
    padding: 10px;
  }
}

.our-work-desc .desc-top {
  color: var(--textLight);
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
}
.our-work-desc .desc-top::before {
  content: "";
  position: absolute;
  right: -5px;
  top: -5px;
  height: 100%;
  width: 5px;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
@media (max-width: 500px) {
  .our-work-desc .desc-top {
    margin-bottom: 10px;
    margin-right: 10px;
  }
}
.our-work-desc .desc-top h6 {
  font-size: 12px;
  font-weight: bold;
}
.our-work-desc .desc-top h5 {
  font-size: 30px;
  font-weight: bold;
}
@media (max-width: 500px) {
  .our-work-desc .desc-top h5 {
    font-size: 20px;
  }
}
.our-work-desc .desc-bottom p {
  color: var(--textLight);
  font-size: 15px;
  line-height: 2;
  margin-bottom: 25px;
}
@media (max-width: 500px) {
  .our-work-desc .desc-bottom p {
    margin: 10px;
  }
}
.our-work-desc .desc-bottom h5 {
  display: none;
}
.our-work-desc .desc-bottom a {
  text-decoration: none;
  display: block;
  width: 80%;
  text-align: center;
  margin: auto;

  color: var(--textLight);
  padding: 6px 12px;
  font-size: 12px;
  border: 1px solid var(--textLight);
  font-weight: bold;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;

  transition: var(--mainTransitionTim);
  -webkit-transition: var(--mainTransitionTim);
  -moz-transition: var(--mainTransitionTim);
  -ms-transition: var(--mainTransitionTim);
  -o-transition: var(--mainTransitionTim);
}
.our-work-desc .desc-bottom a:hover {
  background: transparent
    linear-gradient(257deg, #273a95 0%, #283f98 3%, #4dc7ed 100%) 0% 0%
    no-repeat padding-box;
}

.our-work-img {
  height: 100%;
}
.our-work-img.one,
.our-work-img.tow,
.our-work-img.three {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.our-work-img.one {
  background-image: url("../assets/home-page/our-work-section/vesuvio.png");
}
.our-work-img.tow {
  background-image: url("../assets/home-page/our-work-section/trackmate.png");
}
.our-work-img.three {
  background-image: url("../assets/home-page/our-work-section/ta3alam.png");
}

/* End Our Work */

/* Start Our Experience */
.our-experience {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.exper-box-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 20px;
  column-gap: 20px;
}
@media (max-width: 991px) {
  .exper-box-container {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 767px) {
  .exper-box-container {
    grid-template-columns: auto;
  }
}
.our-experience .exper-box {
  min-height: 160px;
  padding: 15px;
  border: 1px solid var(--hover-03c3ff);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: var(--mainTransitionTim);
  -webkit-transition: var(--mainTransitionTim);
  -moz-transition: var(--mainTransitionTim);
  -ms-transition: var(--mainTransitionTim);
  -o-transition: var(--mainTransitionTim);
}
@media (max-width: 767px) {
  .our-experience .exper-box {
    width: 250px;
    margin: auto;
  }
}
.our-experience .exper-box:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.exper-box .exp-box-icon {
  width: 50px;
  height: 50px;
  overflow: hidden;
  text-align: center;
  margin: auto auto 30px;
}
.exper-box .exp-box-icon img {
  width: 100%;
  height: 100%;
}
.exper-box .exp-box-title {
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}
/* End Our Experience */

/* Start Tools And Langu */
.tools-lang-box {
  margin: auto;
  margin-bottom: 22px;
  overflow: hidden;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0px 1px 1px #48484829;
  border-bottom: 3px solid transparent;
  transition: var(--mainTransitionTim);
  -webkit-transition: var(--mainTransitionTim);
  -moz-transition: var(--mainTransitionTim);
  -ms-transition: var(--mainTransitionTim);
  -o-transition: var(--mainTransitionTim);
}
@media (max-width: 600px) {
  .tools-lang-box {
    max-width: 300px;
    margin: auto auto 35px;
  }
}
.tools-lang-box:hover {
  border-bottom-color: var(--hover-03c3ff);
}
.tools-lang-box .tools-box-img {
  background: transparent linear-gradient(0deg, #8999e429 0%, #4dc7ed14 100%) 0%
    0% no-repeat;
  text-align: center;
  margin-bottom: 10px;
}
.tools-lang-box .tools-box-img img {
  margin: 10px;
  width: 300px;
  height: 165px;
}
.tools-box-desc {
  text-align: center;
}
.tools-box-desc h5 {
  font-weight: bold;
  font-size: 15px;
  white-space: nowrap;
  color: var(--unnamed-color-2e2e2e);
}
.tools-box-desc p {
  font-size: 13px;
  color: var(--text-muted-707070);
}
.tools-lang-box.more {
  margin-top: 50px;
  box-shadow: none;
}
.tools-lang-box.more p {
  color: var(--text-muted-707070);
}
.tools-lang-box.more a {
  text-decoration: none;
}
.tools-lang-box.more a.speck-to-tem {
  font-size: 12px;
  display: block;
  margin: 20px 40px;
  height: 50px;
  line-height: 50px;
  background-color: #0071bc;
  color: var(--textLight);

  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: var(--mainTransitionTim);
  -webkit-transition: var(--mainTransitionTim);
  -moz-transition: var(--mainTransitionTim);
  -ms-transition: var(--mainTransitionTim);
  -o-transition: var(--mainTransitionTim);
}
.tools-lang-box.more a.speck-to-tem:hover {
  background-color: var(--hover-03c3ff);
}
.tools-lang-box.more a.speck-to-tem img {
  width: 15px;
  margin-right: 10px;
}
.tools-lang-box.more a.call-us {
  color: var(--text-muted-707070);
  display: block;
  margin-bottom: 20px;
}
/* End Tools And Langu */
