/**
 * Start Header
 *
 * @format
 */

.programs-testing-header {
  height: 80vh;
  padding-top: 240px;
  /* background-image: url("../assets/home-page/header-bg.png");
  background-size: cover;
  background-position: center 130px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center; */
}
@media (max-width: 991px) {
  .programs-testing-header {
    padding-top: 170px;
   height: auto;
  }
}
.programs-testing-header .row {
  align-items: center;
}
.programs-testing-header .header-r {
  margin-bottom: -60px;
}
.programs-testing-header .header-r h1 {
  margin: auto;
 max-width: 550px;
  padding: 15px 100px;
}

@media (max-width: 991px) {
  .programs-testing-header .header-r {
    margin-bottom: 30px;
  }
}


.programs-testing-header .header-r p {
  max-width: 550px;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  margin: 20px auto;
  line-height: 2;
  color: #3c414b;
  
}



.programs-testing-header .header-l {
  max-width: 400px;
  margin: auto;
}
@media (max-width: 991px) {
  .programs-testing-header .header-l {
    
    margin: 20px auto 40px;
  }
  
}
/* End Header */

/* Start Programs Test Content */
.page-body {
 

}
.page-body.pt-5 {
  padding-top: 0 !important;
}
/* End Programs Test Content */

/* Start test program */
.test-prog-opra {
  margin: 40px 0 50px;
}
@media(max-width: 991px) {
  .test-prog-opra {
  margin: 40px 0 20px;
}
}
.test-prog-opra .test-boxes {
  margin: 40px 0 20px;
  display: grid;
  gap: 50px;
  grid-template-columns: 400px 400px;
  justify-content: center;
}
@media (max-width: 991px) {
  .test-prog-opra .test-boxes {
    grid-template-columns: 350px 350px;
  }
}
@media (max-width: 800px) {
  .test-prog-opra .test-boxes {
    grid-template-columns: 400px;
  }
}
@media (max-width: 500px) {
  .test-prog-opra .test-boxes {
    grid-template-columns: 300px;
  }
}
.test-prog-opra .test-boxes .test-box {
  background-color: #f2f5f9;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.test-prog-opra .test-boxes .test-box .section-boxes-title {
  color: #0071bc;
  text-align: center;
  margin: 20px 0 30px;
}
.test-prog-opra .test-boxes .test-box .test-box-icon {
  width: 70px;
  height: 70px;
  display: block;
  margin: 0 auto 25px auto;
}
.test-prog-opra .test-boxes .test-box .list-unstyled {
  padding: 0;
  margin-bottom: 0;
}
.test-prog-opra .test-boxes .test-box .list-unstyled li {
  position: relative;
  margin-bottom: 10px;
  line-height: 2;
  margin-right: 30px;
  font-size: 15px;
}
.test-prog-opra .test-boxes .test-box .list-unstyled li::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--hover-03c3ff);
  top: 13px;
  right: -20px;

  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* End test program */

/* Start Options Services */
.option-services {
  
}
@media (max-width: 991px) {
  .option-services {
    padding-top: 10px;
  }
}
.option-services .section-title {
  width: max-content;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #000;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
@media (max-width: 991px) {
  .option-services .section-title {
    width: auto;
    border: none;
  }
}
.option-services .lins {
  background: url("../assets/programs-testing/infographic-2.svg") center
    no-repeat;
  height: 200px;
  text-align: center;
  position: relative;
  top: -50px;
}
@media (max-width: 991px) {
  .option-services .lins {
    display: none;
  }
}

.option-services .options-boxs {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 40px;
  justify-content: center;
}
@media (max-width: 991px) {
  .option-services .options-boxs {
    grid-template-columns: 300px 300px;
  }
}
@media (max-width: 767px) {
  .option-services .options-boxs {
    grid-template-columns: 300px ;
  }
}
.option-services .options-boxs .option-box {
  position: relative;
  max-height: 3050px;
  padding: 30px 15px;
  color: #fff;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
@media (max-width: 991px) {
  .option-services .options-boxs .option-box {
    max-height: 370px;
  }
}
.option-services .options-boxs .option-box:hover .box-number {
  transform: translateX(30px);
  -webkit-transform: translateX(30px);
  -moz-transform: translateX(30px);
  -ms-transform: translateX(30px);
  -o-transform: translateX(30px);
}

@media (max-width: 991px) {
  .option-services .options-boxs .option-box {
    margin-top: 100px;
    min-height: 370px;
  }
}

.option-services .options-boxs .option-box:nth-child(1) {
  background-color: #273587;
}
.option-services .options-boxs .option-box:nth-child(2) {
  background-color: #0071bc;
}
.option-services .options-boxs .option-box:nth-child(3) {
  background-color: #29abe2;
}
.option-services .options-boxs .option-box .box-number {
  position: absolute;
  top: -80px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.option-services .options-boxs .option-box:nth-child(1) .box-number {
  left: 100px;
}
.option-services .options-boxs .option-box:nth-child(2) .box-number {
  left: 65px;
}
.option-services .options-boxs .option-box:nth-child(3) .box-number {
  left: 50px;
}

@media(max-width: 991px) {
  .option-services .options-boxs .option-box:nth-child(1) .box-number, 
  .option-services .options-boxs .option-box:nth-child(2) .box-number, 
  .option-services .options-boxs .option-box:nth-child(3) .box-number 
  {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.option-services .options-boxs .option-box:hover .box-number {
  transform: translateX(3px);
  -webkit-transform: translateX(3px);
  -moz-transform: translateX(3px);
  -ms-transform: translateX(3px);
  -o-transform: translateX(3px);
}
}
.option-services .options-boxs .option-box .section-boxes-title {
  font-size: 18px;
  color: #fff;
  margin: 20px 0 20px;
  text-align: center;
}
.option-services .options-boxs .option-box .box-desc {
  font-size: 15px;

  line-height: 2;
}

/* End Options Services */

