


/* Start Header */
.about-company-header {
  height: 90vh;
  padding-top: 195px;
  background-image: url("../assets/home-page/header-bg.png");
  background-size: cover;
  background-position: center 130px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .about-company-header {
    height: auto;
  }
}
.about-company-header .row {
  align-items: center;
}
.about-company-header .header-r h1 {
  margin: auto;
  width: max-content;
  padding: 15px 150px;
}

@media (max-width: 991px) {
  .about-company-header .header-r {
    margin-bottom: 30px;
  }
  
}

@media(max-width: 600px) {
  .about-company-header .header-r h1 {
    padding: 15px 100px;
  }
}
.about-company-header .header-r p {
  max-width: 480px;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  margin: 20px auto;
  line-height: 2;
  color: #3c414b;
}
@media(max-width: 500px) {
  .about-company-header .header-r p {
    font-size: 16px;
  }
}

.about-company-header .container .col-lg-4 {
  margin-top: -100px;
}
.about-company-header .header-l {
  width: 300px;
    margin: auto;
 
}
@media (max-width: 991px) {
  .about-company-header .header-l {
    left: 0;
    bottom: 0;
    margin: 40px auto 0;
  }
  .about-company-header .container .col-lg-4 {
  margin-top: 0;
  margin-bottom: 20px;
}
}

/* End Header */

/* Start Company Sections */
.company-sections {
  padding: 5px 0;
  background-color: #FCFCFC;
}
.company-box {
  background-color: #fff;
  padding: 70px 0;
  margin: 50px 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid #03C3FF;
}
@media(max-width:991px) {
  .company-box {
    padding: 30px ;
  }
  .company-box .order-mobile-1 {
    order: 1;
  }
  .company-box .order-mobile-2 {
    order: 2;
  }
}
.company-box .text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.company-box .text p {
  padding-left: 70px;
  line-height: 1.7;
  font-size: 15px;
}
@media(max-width: 991px) {
  .company-box .text p {
    padding-right: 0;
  }
}
.company-box .img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  text-align: center;
  width: 300px;
  height: 300px;
}
@media(max-width:991px) {
  .company-box .img {
    max-width: 300px;
    width: auto;
  }
}
.company-box .img img {
  width: 100%;
}
/* End Company Sections */

/* Start Our Mission */
.our-mission {
  background-color: #03C3FF;
  padding: 80px 0 ;
}
@media(max-width: 600px) {
  .our-mission {
    padding: 0px 0 60px;
  }
}
.our-mission .section-title {
  color: #fff;
  margin-bottom: 0;
  margin-right: auto;
  font-size: 4vh;
}
.our-mission .section-title.vis-title {

  margin-bottom: 0;
}
.our-mission p {
  color: #EFFBFF;
  font-size: 14px;
  line-height: 2;
  
  max-width: 700px;

}
@media(max-width: 600px) {
  .our-mission p {
    text-align: center;
    margin-bottom: 20px;
  }
}
.our-mission .text {
  height: 100%;
  display: flex;
  flex-direction: column;
 justify-content: center;
}
.our-mission .text.one {
  margin-right: 70px;
}
.our-mission .text.tow {
  margin-left: 70px;
}

@media(max-width:991px) {
  .our-mission .text.one {
  margin-left: 0;
  margin-bottom: 10px;
}
.our-mission .text.tow {
 
  margin: 50px 0 0 ;
}
}
.our-mission .img {
  width: 450px;
  margin: 50px auto;
  text-align: center;
}
@media(max-width: 600px) {
  .our-mission .img {
    width: auto;
  }
}
.our-mission .img img {
  width: 100%;
}
@media(max-width: 991px) {
  .our-mission .row.revarse-md {
    flex-direction: column-reverse;
  }
}
.our-mission .row .border {
  border: 1px solid #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
@media(max-width: 600px) {
  .our-mission .row .border {
    width: 90%;
    margin: auto;
  }
}
.our-mission .row:nth-child(1) {
  padding-bottom: 80px;
}

@media(max-width: 991px) {
  .our-mission .row:nth-child(1) {
  padding-bottom: 0;
}
}
/* End Our Mission */

/* Start With Us Section */
.with-us {
  background-color: #FCFCFC;
  padding: 80px 0;
}
.with-us-content {
  max-width: 720px;
  margin: auto;
  
}
.with-us-content .up-right-quote,
.with-us-content .down-left-quote {
width: 70px;
display: block;
}
.with-us-content .up-right-quote {
margin-left: auto;
margin-bottom: 20px;
}
.with-us-content .down-left-quote {
margin-right: auto;
margin-top: 20px;
}
.with-us-content h2 {
  color: #03C3FF;
  text-align: center;
  font-size: 3vh;
  font-weight: bold;
  line-height: 1.7;
  margin: 0;
}
/* End With Us Section */

/* Start Company Clients */
.company-clients {
  padding: 30px  0 0;
  background-color: #fff;
}
.company-clients .section-title {
  margin-bottom: 0;
}
.company-clients p {
  text-align: center;
  color: #3C414B;
}
.company-clients .clients-container {
  margin: 60px 0;
  display: flex;
 
  flex-wrap: wrap;
  row-gap: 20px;
}
@media(max-width: 991px) {
  .company-clients .clients-container {
    justify-content: center;
  }
}
.company-clients .clients-container .client {
  width: 165px;
  height: 150px;
  margin: 0 10px;
  border: 1px solid rgb(112, 112, 112, .5);
  cursor: pointer;
 
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: var(--mainTransitionTim);
  -webkit-transition: var(--mainTransitionTim);
  -moz-transition: var(--mainTransitionTim);
  -ms-transition: var(--mainTransitionTim);
  -o-transition: var(--mainTransitionTim);
}


.company-clients .clients-container .client.jad,
.company-clients .clients-container .client.sara,
.company-clients .clients-container .client.abkry,
.company-clients .clients-container .client.vivid,
.company-clients .clients-container .client.prem,
.company-clients .clients-container .client.manazel ,
.company-clients .clients-container .client.vesuvio {
  background-repeat: no-repeat;
  background-position: center;

}
.company-clients .clients-container .client.jad{
  background-image: url("../assets/about-company/jad-gray.png");
}
.company-clients .clients-container .client.jad:hover{
  background-image: url("../assets/about-company/jad.png");
}

.company-clients .clients-container .client.sara{
  background-image: url("../assets/about-company/saraa-gray.png");
}
.company-clients .clients-container .client.sara:hover{
   background-image: url("../assets/about-company/saraa.png");
}

.company-clients .clients-container .client.abkry{
  background-image: url("../assets/about-company/3abkary-gray.png");
}
.company-clients .clients-container .client.abkry:hover{
  background-image: url("../assets/about-company/3abkary.png");

}

.company-clients .clients-container .client.vivid{
  background-image: url("../assets/about-company/vivid-gray.png");
}
.company-clients .clients-container .client.vivid:hover{
  background-image: url("../assets/about-company/vivid.png");

}

.company-clients .clients-container .client.prem{
  background-image: url("../assets/about-company/premium-gray.png");

}
.company-clients .clients-container .client.prem:hover{
  background-image: url("../assets/about-company/premium.png");

}
.company-clients .clients-container .client.manazel{
  background-image: url("../assets/about-company/manzel-gray.png");

}
.company-clients .clients-container .client.manazel:hover{
  background-image: url("../assets/about-company/manzel.png");

}
.company-clients .clients-container .client.vesuvio{
  background-image: url("../assets/about-company/vesuvio-gray.png");

}
.company-clients .clients-container .client.vesuvio:hover{
  background-image: url("../assets/about-company/vesuvio.png");

}

/* End Company Clients */





