/**
 * Start Header
 *
 * @format
 */

.consulting-info-header {
  min-height: 75vh;
  padding-top: 240px;
  /* background-image: url("../assets/home-page/header-bg.png");
  background-size: cover;
  background-position: center 130px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center; */
}
@media (max-width: 991px) {
  .consulting-info-header {
    height: auto;
    padding-top: 200px;
  }
}
.consulting-info-header .row {
  align-items: center;
}
.consulting-info-header .header-r h1 {
  margin: auto;
  max-width: 550px;
  padding: 15px;
}

@media (max-width: 991px) {
  .consulting-info-header .header-r {
    margin-bottom: 30px;
  }
}

.consulting-info-header .header-r p {
  max-width: 550px;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  margin: 20px auto;
  line-height: 2;
  color: #3c414b;
}

.consulting-info-header .header-l {
  width: 300px;
  margin: auto;
}
@media (max-width: 991px) {
  .consulting-info-header .header-l {
    margin: 10px auto 40px;
  }
}
/* End Header */

/* Start Consulting info Content  */
.cons-content {
  padding: 40px 0 0;

  position: relative;
}
.cons-content aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fcfcfc;
  padding: 20px 60px;
  width: 220px;
  height: 400px;
  box-shadow: 0px 1px 1px #47474729;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  z-index: 3;
  position: absolute;
}
.cons-content aside.fixed {
  position: fixed;

  top: 28%;

}
@media(max-width:991px) {
  .cons-content aside {
    display: none;
  }
}

.cons-content aside.end-section {
position: absolute;

 bottom: 50px;
}

.cons-content aside h3 {
  font-size: 20px;
  color: #707070;
  font-weight: normal;
  position: relative;
  cursor: pointer;
  transition: var(--mainTransitionTim);
  -webkit-transition: var(--mainTransitionTim);
  -moz-transition: var(--mainTransitionTim);
  -ms-transition: var(--mainTransitionTim);
  -o-transition: var(--mainTransitionTim);
}
.cons-content aside h3:hover {
  color: #29abe2;
}
.cons-content aside h3::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #707070;
  left: -30px;
  top: 6px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  z-index: 2;
  transition: var(--mainTransitionTim);
  -webkit-transition: var(--mainTransitionTim);
  -moz-transition: var(--mainTransitionTim);
  -ms-transition: var(--mainTransitionTim);
  -o-transition: var(--mainTransitionTim);
}
.cons-content aside h3:not(:last-of-type):after {
  content: "";
  position: absolute;
  height: 180px;
  width: 1px;
  top: 6px;
  background-color: #707070;
  left: -23px;
  z-index: 1;
  transition: var(--mainTransitionTim);
  -webkit-transition: var(--mainTransitionTim);
  -moz-transition: var(--mainTransitionTim);
  -ms-transition: var(--mainTransitionTim);
  -o-transition: var(--mainTransitionTim);
}
.cons-content aside h3.active {
  color: #29abe2;
}
.cons-content aside h3.active::before {
  background-color: #29abe2;
}

.cons-content aside h3.active.b::after {
  background-color: #29abe2;
}

.cons-content .left {
  max-width: 1100px;
  margin: auto;
 margin-left: 300px;
}
@media(max-width: 991px) {
  .cons-content .left {
   
    margin-right: auto;
    margin-left: auto;
  }
}
@media(max-width: 1220px) {
  .cons-content .left {
    max-width: 800px;
  }
}
@media(min-width: 1600px) {
  .cons-content .left {
 margin-right: auto;

}
}
.cons-content .content {
  position: relative;
  background-color: #fcfcfc;
  margin-bottom: 50px;
  padding: 30px 0 50px;

  box-shadow: 0px 1px 1px #47474729;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.cons-content .content:last-of-type {
  margin-bottom: 0;
}
@media(max-width:991px) {
  .cons-content .content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.cons-content .content .mob-title {
  display: none;
}

@media(max-width: 991px) {
  .cons-content .content .mob-title {
    display: block;
    position: absolute;
    top: 20px;
    left: 120px;
    font-size: 15px;
    color: #3c414b;
  }
}
.cons-content .content .icon {
  width: 60px;
  height: 60px;
  left: 50px;
  position: absolute;
  top: 0;
}
.cons-content .left .section-title {
  margin: 0 0 30px;
  padding-top: 0;
  font-size: 2.7vh;
}
@media(max-width: 991px) {
  .cons-content .left .section-title {
    margin-top: 15px;
    max-width: 100%;
  }
}
.cons-content .left .desc {
  margin: 0 50px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 5px #4dc7ed;
  border-radius: 25px;
}
@media(max-width: 767px) {
  .cons-content .left .desc {
    margin: 0;
  }
}
.cons-content .left .desc p {
  font-size: 15px;
  line-height: 2;
  margin-bottom: 10px;
}
.cons-content .left .desc p:last-of-type {
  margin-bottom: 0;
}

.cons-content .left-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.cons-content .left-boxes .box {
  padding: 15px;
  width: 400px;
}
@media(max-width: 1220px) {
  .cons-content .left-boxes .box {
  width: 300px;
  }
}
.cons-content .left-boxes .box.one {
  box-shadow: 0px -2px 5px #4dc7ed;
  border-radius: 0 25px 0 0;
  background-color: #fff;
  -webkit-border-radius: 0 25px 0 0;
  -moz-border-radius: 0 25px 0 0;
  -ms-border-radius: 0 25px 0 0;
  -o-border-radius: 0 25px 0 0;
}
.cons-content .left-boxes .box.tow {
  box-shadow: -2px 0px 5px #4dc7ed;
  border-radius: 25px 0 0 0;
  background-color: #fff;
  -webkit-border-radius: 25px 0 0 0;
  -moz-border-radius: 25px 0 0 0;
  -ms-border-radius: 25px 0 0 0;
  -o-border-radius: 25px 0 0 0;
}
.cons-content .left-boxes .box.three {
  box-shadow: 2px 0px 5px #4dc7ed;
  border-radius: 0 0 25px 0;
  background-color: #fff;
  -webkit-border-radius: 0 0 25px 0;
  -moz-border-radius: 0 0 25px 0;
  -ms-border-radius: 0 0 25px 0;
  -o-border-radius: 0 0 25px 0;
}
.cons-content .left-boxes .box.four {
  box-shadow: 0px 2px 5px #4dc7ed;
  border-radius: 0 0 0 25px;
  background-color: #fff;
  -webkit-border-radius: 0 0 0 25px;
  -moz-border-radius: 0 0 0 25px;
  -ms-border-radius: 0 0 0 25px;
  -o-border-radius: 0 0 0 25px;
}
.cons-content .left-boxes .box .up {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}
.cons-content .left-boxes .box .up .section-boxes-title {
  font-size: 16px;
  line-height: 2;
}
.cons-content .left-boxes .box .up .up-img {
  width: 35px;
  height: 35px;
}
.cons-content .left-boxes .box p.desc-gray {
  color: #3c414b;
  margin: 10px 0;
  line-height: 2;
  font-size: 15px;
}
.cons-content .left-boxes .box p.box-desc {
  font-size: 15px;
  line-height: 2;
  text-align: center;
}
.cons-content .left-boxes.three .box p.box-desc {
  text-align: left;
  font-weight: bold;
  line-height: 2;
  font-size: 15px;
}
.move-to-qemma {
  text-align: center;
  max-width: 800px;
  margin: 40px auto 0;
}
.cons-content .left .move-to-qemma .section-title {
  margin: 30px 0 0 0;
}
.move-to-qemma p:first-of-type {
  margin: 10px 0;
  font-weight: bold;
  font-size: 15px;
}
.move-to-qemma p {
  color: #3c414b;
  font-size: 15px;
  line-height: 2;
  margin-bottom: 0;
}
.content-3 .left-boxes .box.one {
  background-color: #f9ffff;
}
.content-3 .left-boxes .box.tow {
  background-color: #fbfbff;
}
.content-3 .left-boxes .box.three {
  background-color: #fffcfd;
}
.content-3 .left-boxes .box.four {
  background-color: #fffee9;
}
/* End Consulting info Content  */

/* Start Contact Now */
.contact-now-cons {
  background-color: #fcfcfc;
  padding-bottom: 50px;
}
.contact-now-cons a {
  position: relative;
  width: 300px;
  height: 60px;
  margin: 0 auto;
  text-decoration: none;
  background-color: #0071bc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 6px;
  font-size: 15px;
  transition: var(--mainTransitionTim);
  -webkit-transition: var(--mainTransitionTim);
  -moz-transition: var(--mainTransitionTim);
  -ms-transition: var(--mainTransitionTim);
  -o-transition: var(--mainTransitionTim);
}
.contact-now-cons a:hover {
  background-color: #29abe2;
}
.contact-now-cons a img {
  width: 15px;
  margin-right: 10px;
}
/* End Contact Now */
