/**
 * Start Header
 *
 * @format
 */

.web-des-header {
  max-height: 80vh;
  padding-top: 200px;
  /* background-image: url("../assets/home-page/header-bg.png");
  background-size: cover;
  background-position: center 130px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center; */
}
@media (max-width: 991px) {
  .web-des-header {
    max-height: 100vh;
    padding-top: 190px;
  }
}
.web-des-header .row {
  align-items: center;
}
.web-des-header .header-r{
  margin-bottom: -60px;
}
.web-des-header .header-r h1 {
  margin: auto;
  max-width: 480px;
  padding: 15px 100px;
}

@media (max-width: 991px) {
  .web-des-header .header-r {
    margin-bottom: 30px;
  }
  .web-des-header .header-r h1 {
    padding: 15px 30px;
  }
}
.web-des-header .header-r p {
  max-width: 480px;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  margin: 20px auto;
  line-height: 2;
  color: #3c414b;
}
@media(max-width: 500px) {
  .web-des-header .header-r p {
    font-size: 16px;
  }
}


.web-des-header .header-l {
  width: 300px;
    margin: auto;
 
}
@media (max-width: 991px) {
  .web-des-header .header-l {
    
    margin: auto;
  }
  .web-des-header .container .col-lg-4 {
 
  margin-bottom: 20px;
}
}
/* End Header */

/* Start large box */
.large-box-web {
 
}
@media(max-width: 991px) {
 .large-box-web{
  margin-top: 60px !important;
 } 
}
.large-box-web .large-box-text {
  position: relative;
  min-height: 200px;
  padding: 25px;
  background: transparent radial-gradient(#3756e8 0%, #4dc7ed 100%);
  box-shadow: 0px 1px 1px #47474729;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}
@media (max-width: 991px) {
  .large-box-web .large-box-text {
    padding: 40px;
  }
}
.large-box-web .large-box-text p {
  font-size: 16px;
  color: #dfffff;
  line-height: 1.7;
}
.large-box-web .bg-img {
  position: absolute;
  right: -60px;
  top: 50%;
  z-index: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
@media (max-width: 991px) {
  .large-box-web .bg-img {
    top: -60px;
    right: 50%;
    transform: translate(50%, 0) rotate(90deg);
    -webkit-transform: translate(50%, 0) rotate(90deg);
    -moz-transform: translate(50%, 0) rotate(90deg);
    -ms-transform: translate(50%, 0) rotate(90deg);
    -o-transform: translate(50%, 0) rotate(90deg);
  }
}
.large-box .bg-img img {
  width: 100px;
}
/* End large box */

/* Start Customize and create  */
.custom-create {
 
  
}
.custom-box {
  min-height: 350px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  background-color: rgb(242 245 249/ 100%);

  box-shadow: 0px 1px 1px rgb(71 71 71 / 10%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.custom-box .custom-box-title {
  font-size: 16px;
  font-weight: bold;
  color: var(--headingSectionsColor);
  text-align: center;
}
.custom-box .custom-icon {
  width: 60px;
  margin: 15px auto;
}
.custom-box .custom-icon img {
  width: 100%;
}
.custom-box .custom-p {
  font-size: 15px;
  line-height: 2;
  margin-bottom: 10px;
}
/* End Customize and create  */

/* Start  Make your idea */
.your-idea.mb-5 {
  margin-bottom: 0 !important;
}
.your-idea .container {
  background-color: #fff;
  box-shadow: 0px 16px 25px #d0e0e6;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.your-idea h5.section-boxes-title {
  color: var(--textSecundColor);
}
.idea-boxes {
  padding-bottom: 50px;
}
.idea-boxes .main {
  height: 500px;
  background-image: url("../assets/web-design-page/bg-your-idea-left.svg");
  background-position: 12vw 0;
  background-repeat: no-repeat;
  background-size: contain;
 
}
@media(max-width: 1199px) {
  .idea-boxes .main {
    background-position: 1vw 0;
  }
}
.idea-box {
  height: 180px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    margin-top: -15px;
    width: 250px;
    margin-left: 200px;
}
.idea-box.mr-130 {
  margin-left: 130px;
}
.idea-box.mr-50 {
  margin-left: -15px;
}

.idea-box-icon {
 
  width: 70px;
  margin-bottom: 10px;
}
@media (max-width: 1399px) {
  .idea-box  {
    margin-left: 145px;
  }
  .top .idea-box .idea-box-icon {
    margin-bottom: 0;
  }
}
@media (max-width: 1199px) {
  .idea-box  {
    margin-left: 30px;
  }
  .idea-box.mr-130 {
    margin-left: 0;
  }
  .idea-box.mr-50 {
  margin-left: -45px;
}
}
.idea-box-icon img {
  width: 100%;
}
.idea-box .idea-box-title {
  font-size: 15px;
  font-weight: bold;
  color: var(--headingSectionsColor);
  margin-bottom: 10px;
}
.idea-box .idea-box-p {
  font-size: 15px;

  color: var(--textSecundColor);
  line-height: 1.7;
}
.idea-box-p.develop {
  width: 80% !important;
}

.idea-box-p.publish {
  width: 75%;
}
@media (max-width: 1399px) {
  .idea-box .idea-box-p {
    margin-bottom: 10px;
  }
  .idea-box .idea-box-p.custom-max-1399 {
    width: 80% !important;
  }
}
.idea-box.middle {
  height: auto;
  flex-direction: row;
 margin-left: 15px;
     align-items: center;
 
    margin-top: 20px;
   
}
@media(min-width: 1600px) {
 .idea-box.middle {
  margin-left: 63px;
 } 
}
.idea-box.middle > div {
  width: 60%;
}

@media(max-width:1400px) {
.idea-box.middle {
  margin-left: 110px;
}
}
@media(max-width:1199px) {
.idea-box.middle {
  margin-left: 80px;
}
}

.idea-box.middle .idea-box-icon {
  width: 70px;
  height: 70px;
}

@media (max-width: 1199px) {
  .idea-box.middle .idea-box-p {
    width: auto;
  }
  .idea-box .w-50 {
    width: 80% !important;
  }
}
.idea-boxes .row.bottom {
  align-items: end;
}
.idea-boxes .row.bottom .idea-box {
  height: 170px;
 
  display: flex;
  flex-direction: column;
  justify-content: end;
position: relative;
top: 75px;

}


.main-mobile {
  background-image: url("../assets/web-design-page/bg-mobile.svg");
  background-repeat: no-repeat;
  background-position: center -25px;
  margin-bottom: 50px;
  background-size: contain;
}
.idea-box-mobile {
  position: relative;

  
}
.idea-box-mobile.right {
  display: flex;
  flex-direction: column;

 margin-right: 40px;
}
.idea-box-mobile.right .box-mob-title {
  text-align: right;
  margin-right: 0;
}
.idea-box-mobile.left {
  margin-left: 45px;
}
.idea-box-mobile.tow {

top:32px;
}
.idea-box-mobile.three {
  top: 55px;
}
.idea-box-mobile.four {
  top: 30px;
}
.idea-box-mobile.five {
  top: 15px;
}
.idea-box-mobile.six {
  top: 20px;
}


.idea-box-mobile.right .idea-box-p {
  text-align: right;
}
.idea-box-mob-up .box-mob-title {
  font-size: 18px;
  font-weight: bold !important;
  color: var(--headingSectionsColor);
}

.idea-box-mobile .idea-box-p {
  font-size: 13px;
  font-weight: bold;
  color: var(--textSecundColor);
  line-height: 1.7;
}
.idea-box-mobile.last {
  top: 70px;
  text-align: center;
  
}
.idea-box-mobile.last .idea-box-mob-up {
  display: block;
  text-align: center;
}
.idea-box-mobile.last .box-mob-icon {
  margin: auto;
}
/* End Make your idea */
